<!DOCTYPE html>

<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Berita Terbaru</title>
    <link rel="icon" href="/img/cuaca.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    {{> header}}

```
<div class="main-content">
    <h1>Berita Terbaru</h1>
    <p>Berikut beberapa berita seputar cuaca dan aktivitas kampus:</p>

    {{#each daftarBerita}}
        <div class="berita-item" style="margin-bottom:20px;">
            <h3 style="color:#2b6cb0;">{{judul}}</h3>
            <p>{{isi}}</p>
        </div>
    {{/each}}
</div>

{{> footer}}
```

</body>
</html>
