<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <title>{{judul}}</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<header>
  <h1 class="judul">Aplikasi Cek Cuaca</h1>
  <nav>
    <a href="/">Beranda</a>
    <a href="/tentang">Tentang Saya</a>
    <a href="/bantuan">Bantuan</a>
    <a href="/berita">Berita</a>
  </nav>
</header>
